body {
  font-family: "VT323", monospace;
}

h1 {
  color: #4adafb;
  font-size: 42px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  text-shadow: 1px 1px 2px #f0c3d2;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  list-style: none;
  text-shadow: 1px 1px 2px #f0c3d2;
}

a {
  color: #f0c3d2;
}

footer {
  text-align: center;
}

.weather-app {
  background: #151515;
  border: 1px solid #4adafb;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #f0c3d2;
  margin: 20px auto;
  padding: 30px;
  max-width: 600px;
}

.search-area {
  margin-bottom: 20px;
}

.current-location-button {
  border: 3px solid #4adafb;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #f0c3d2;
}

.fa-map-marker-alt {
  color: #4adafb;
}

.type-city-area {
  margin-left: 40px;
}

.type-city-input {
  border: 3px solid #4adafb;
  border-radius: 4px;
  width: 70%;
}

.type-city-button {
  border: 3px solid #4adafb;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #f0c3d2;
  margin-right: 0px;
}

.fa-search {
  color: #4adafb;
}

.temperature {
  color: #4adafb;
  font-size: 72px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #f0c3d2;
  line-height: 1;
}

/* .weather-icon {
  position: relative;
  top: 18px;
} */

.units {
  color: #4adafb;
  position: relative;
  top: -30px;
  font-size: 20px;
  text-shadow: 1px 1px 2px #f0c3d2;
}

.more-info {
  margin-top: 5px;
  margin-left: 40px;
}

#weather-description {
  text-transform: capitalize;
}
