body {
  font-family: "VT323", monospace;
}

h1 {
  color: #cd43c1;
  font-size: 42px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  list-style: none;
}

footer {
  font-size: 18px;
  text-align: center;
}

.weather-app {
  background: #000;
  border: 5px solid #7B6FEF;
  margin: 20px auto;
  padding: 30px;
  max-width: 600px;
}

.search-area {
  margin-bottom: 20px;
}

.current-location-button {
  border: 3px solid #7B6FEF;
}

.fa-map-marker-alt {
  color: #7B6FEF;
}

.type-city-area {
  margin-left: 40px;
}

.type-city-input {
  border: 3px solid #7B6FEF;
  width: 70%;
}

.type-city-button {
  border: 3px solid #7B6FEF;
  margin-right: 0px;
}

.fa-search {
  color: #7B6FEF;
}

.temperature {
  color: #cd43c1;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
}

.weather-icon {
  position: relative;
  top: 18px;
}

.units {
  color: #cd43c1;
  position: relative;
  top: -30px;
  font-size: 20px;
}

.more-info {
  margin-top: 5px;
  margin-left: 40px;
}

.fa-linkedin {
  color: #0966c2;
}

#weather-description {
  text-transform: capitalize;
}