body {
  font-family: "VT323", monospace;
}

h1 {
  color: #cd43c1;
  font-size: 42px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  list-style: none;
}

footer {
  font-size: 18px;
  text-align: center;
}

.weather-app {
  background-image: url(../img/90s.png);
  border: 5px solid #7b6fef;
  margin: 20px auto;
  padding: 30px;
  max-width: 600px;
}

.search-area {
  display: block;
  text-align: center;
}

.current-location-button {
  border: 3px solid #7b6fef;
}

.fa-map-marker-alt {
  color: #7b6fef;
}

.type-city-input {
  border: 3px solid #7b6fef;
  width: 70%;
}

.type-city-button {
  border: 3px solid #7b6fef;
  margin-right: 0px;
}

.fa-search {
  color: #7b6fef;
}

.temperature {
  color: #cd43c1;
  font-size: 80px;
}

.units {
  position: relative;
  top: -30px;
  font-size: 20px;
}

.weather-temperature .active {
  color: #cd43c1;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature {
  /* margin-left: 50px;
  margin-bottom: 20px; */
}

.more-info {
  margin-top: 32px;
  margin-right: 20px;
  text-align: right;
}

.weather-forecast h3 {
  color: #fff;
  font-size: 16px;
}

.weather-forecast img {
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  color: #fff;
  font-size: 13px;
}

.fa-linkedin {
  color: #0966c2;
}

#weather-description {
  text-transform: capitalize;
}

#icon {
  height: 120px;
  width: 120px;
}

#forecast {
  margin-left: 20px;
  text-align: center;
}
